:root {
    --verde: #61d4b3;
    --rosa: #fd2eb3;
    --amarillo: #fdd365;
    --naranja: #fb8d62;
}

* {
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
}

body {
    background: white;
    flex-flow: column nowrap;
}

/* HEADER */
header {
    background-color: black;
}

nav {
    background-color: var(--verde);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100px;
}

.logo, .menu, .social {
    background-color: var(--rosa);
}

.logo {
    flex: 1 1 auto;
    height: 30px;
}

.menu {
    flex: 5 1 auto;
    height: 30px;
}

.social {
    flex: 1 1 auto;
    height: 30px;
}

/* --/HEADER--- */

/* MAIN */
main {
    background-color: black;
}

.texto-principal {
    background-color: var(--amarillo);
}

.texto-principal h1 {
    background-color: var(--naranja);
}

/* --/MAIN--- */

/* SECTION */
section {
    background-color: black;
    display: flex;
}

#articulos {
    background-color: var(--rosa);
    flex: 2 1 auto;

    display: flex;
    flex-flow: row wrap;

}

.post {
    background-color: var(--amarillo);
    /* width: 30%; */
    /* flex: 1 1 40%; */
    flex: 1 1 calc(50% - 20px);
}

.paginacion {
    background-color: var(--verde);
    flex: 1 1 100%;
}

aside {
    background-color: var(--naranja);
    flex: 1 1 auto;
}

.publicidad {
    background-color: var(--verde);
}

/* --/SECTION--- */

/* FOOTER */
footer {
    background-color: black;
    display: flex;
    justify-content: center;
}

.pie {
    background-color: var(--amarillo);
    width: 300px;
}
/* --/FOOTER-- */

@media all and (max-width: 800px) {
    section {
        flex-direction: column;
    }

    nav {
        height: auto;
        flex-direction: column;
    }

    aside {
        display: flex;
        justify-content: center;
        /* flex-direction: row; */
    }
}

@media all and (max-width: 600px) {
    .post {
        flex: 1 1 100%;
    }
}

@media all and (max-width: 400px) {
    aside {
        flex-direction: column;
    }
}